@page
@model KeyVaultEditor.Pages.KeyVaultModel
@{
    ViewData["Title"] = "KeyVault Edit";
    var secrets = await Model.KeyVaultService.GetAllSecretsAsync();

    string TypeFromName(string name) {
       if (name.IndexOf("Secret", StringComparison.InvariantCultureIgnoreCase)>=0 ||
           name.IndexOf("Password", StringComparison.InvariantCultureIgnoreCase)>=0 ||
           name.IndexOf("ConnectionString", StringComparison.InvariantCultureIgnoreCase)>=0){
          return "password";
       }
       return "text";
    }
}
<h1>KeyVault: @Model.KeyVaultService.Url</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th width="10"></th>
            <th width="10"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in secrets)
        {
            <tr class="@(Model.Saved.Contains(s.Name) ? "saved":null)">
                <form method="post">
                <td>
                        @s.Name
                    <input type="hidden" name="Name" value="@s.Name" />
                </td>
                <td>
                    <input type="@TypeFromName(s.Name)" name="Value" value="@s.Value" />
                </td>
                <td>
                    <button type="submit">Save</button>
                </td>
                </form>
                <td>
                    <form method="post" asp-page-handler="Delete">
                        <input type="hidden" name="Delete" value="true" />
                        <input type="hidden" name="Name" value="@s.Name" />

                        <button type="submit" onclick="return confirm('Are you sure?')" style="color:red">❌</button>
                    </form>
                </td>
            </tr>
        }
        <form method="post">
        <tr>
            <td>
                <input type="text" name="Name" />
            </td>
            <td>
                <input type="text" name="Value" />
            </td>
            <td>
                <button type="submit" name="Save">Save</button>
            </td>
        </tr>
        </form>
        <form method="post" asp-page-handler="Upload" enctype="multipart/form-data" >
        <tr>
            <td>
                <a asp-page-handler="Download" target="_blank">Download all settings</a>
            </td>
            <td>
                <table class="small"><tr><td><input type="file" name="Settings" /></td><td><label><input type="checkbox" name="Overwrite" value="true" />Overwrite</label></td><td><button type="submit" name="Save">Upload</button></td></tr></table>


            </td>
            <td>
            </td>
        </tr>
        </form>
    </tbody>
</table>

<div class="modal @(Model.Failed.Any() ? "show":"")">
	<div class="modal-backdrop"></div>
	<div class="modal-content">
		<div class="modal-header">
			
            <ul class="failed">
            @foreach(var f in Model.Failed) {
                <li>Failed to Save @f</li>
            }
            </ul>
		</div>
		<div class="modal-footer">
			<button data-dismiss>Close</button>	
		</div>
	</div>
</div>